@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-body bg-[#FBFBF9]
    }

    main {
        @apply m-8
        /* Fix with media queries later */
    }

    h1 {
        @apply font-medium font-heading text-[40px]
    }
}

@layer components {
    .profile-btn {
        @apply  bg-primary text-white shadow-md transition duration-300 hover:bg-primary_hover hover:shadow-lg flex justify-center rounded-full px-3 py-1
    }

    .primary-btn {
        @apply bg-primary text-white shadow-md transition duration-300 hover:bg-primary_hover hover:shadow-lg flex justify-center w-20 rounded-2xl p-1
    }

    .secondary-btn {
       @apply flex w-20 justify-center rounded-2xl border border-secondary p-1 text-secondary shadow-md transition duration-300 hover:shadow-lg
    }
}