@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply flex min-h-screen flex-col;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background font-body;
  }

  main {
    @apply flex-grow;
  }

  h1 {
    @apply font-heading text-[40px] font-medium;
  }

  h2 {
    @apply font-heading text-3xl font-medium capitalize;
  }

  h3 {
    @apply font-heading text-2xl font-semibold tracking-wider;
  }
}

@layer components {
  .page-wrapper {
    @apply mx-auto flex max-w-5xl flex-col gap-8 p-8;
  }

  .input-field {
    @apply mt-2 rounded-3xl border-2 border-secondary px-3 py-2 shadow-md focus:border-primary focus:outline-none;
  }

  .input-field-error {
    @apply border-error;
  }
}
